.pinstyle() {
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
	border-radius: 4px;
	margin-bottom: 30px;
}

.navboard-searchform{
	.btn-search{
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 1.3em;
		opacity: .5;
	}
	input{
		font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif;
		font-weight: 600;
		background: #f7f7f7;
	}
}

.section-postloop{
	.metahead {
		top: 25px;
		left: 12px;
	}
	&.single-post,
	&.multi-post .pl-new-loop .post,
	&.multi-post .pl-new-loop .page{
		background: #fff;
		padding: 25px;
		.box-sizing( border-box );
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
		border-radius: 4px;
		margin-bottom: 30px;
	
	}
	.pl-new-loop .hentry{
		&.post, 
		&.multi-post {
			padding-left: 100px;
		}
	}
	
}
.section-postloop .pl-social-icon i{
	color: #ccc;
}

.section-pindivider hr{
	margin: 0;
	border-bottom: 1px solid #bbb;
	box-shadow: 0 1px 0 rgba(255,255,255,.7);
}


.section-sharebar{
	.pl-social-counter {
		border-color: @textColorLight;
	}
	.pl-social-icon i{
		color: @textColorLight;
	}
}

.section-masonic{
	.pl-social-icon i{
		color: @textColorLight;
	}
}


@media (max-width: @resPortraitTablet) {
	
	.section-postloop{
		.metahead {
			top: 0;
			left: 0;
		}
		&.single-post,
		&.multi-post .pl-new-loop .post,
		&.multi-post .pl-new-loop .page{

			padding: 25px;
		}
	}
	
}