.section-pinblog{
	.pinblog-meta, 
	.pinblog-article{
		
	}
	.article,
	.meta{
		overflow: hidden;
		background: #fff; 
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
		border-radius: 4px;
		margin-bottom: 20px;
		.box-sizing(border-box);
		.the-text{
			padding: 25px;
			.title{
				margin: 0;
			}
			.avatar{
				border-radius: 4px;
			}
			.media{
				.author-name{
					font-weight: 600;
					font-size: 16px;
					margin-top: 5px;
				}
				.post-date{
					font-size: 86%; 
					opacity: .7;
				}
			}
			
		}
		.the-footer{
			border-top: 1px solid #ddd;
			
			> a{
				padding: 10px 20px;
				color: #666; 
				border-right: 1px solid #ddd;
				font-weight: 600;
				display: block; 
				float: left;
				
				&:hover{
					background: #f7f7f7;
				}
			}
			.social-shares{
				float: right;
				padding: 10px 0 5px;
				> a, 
				> iframe,
				> div{
					opacity: .7;
					margin-left: 5px: 
					&:hover{
						opacity: 1;
					}
				}
				
			}
		}
		
	}
}